###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
MicroJam/.vs/MicroJam/FileContentIndex/7cbbd3c8-27b0-4801-a7c4-cbf8fc0a50f8.vsidx
MicroJam/.vs/MicroJam/FileContentIndex/8a67f3fe-d941-4949-8b8a-66cfba520667.vsidx
MicroJam/.vs/MicroJam/FileContentIndex/9616f7aa-2fea-435f-baba-98f30a25e7a0.vsidx
MicroJam/.vs/MicroJam/FileContentIndex/9f0e8ccc-136b-412b-adaa-2095a8f3e163.vsidx
MicroJam/.vs/MicroJam/FileContentIndex/bcae116f-8e29-4fdc-b691-8085b981bd65.vsidx
